@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";

.sinopse-content-editor {
	width: 100%;
	height: 600px;
}

.sinopse-content-view {
	position: relative;
	overflow: visible;
}

.sinopse-document-make {

	form {
		label {
			padding: 10px 0;

			span {
				overflow: visible;
				padding: 5px 12px 5px;
				float: left;
			}

			input {
				margin: 0;
			}
		}
	}
}