<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ app.title }}</title>
	<meta name="description" content="{{ app.description }}">
	<meta name="author" content="{{ app.author }}">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet/less" href="/static/less/style.less">
	<script src="/static/js/libs/less-1.3.0.min.js"></script>

	<script src="/static/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>

<!--[if lt IE 7]><p class=chromeframe>O seu browser é muito antigo. <a href="http://browsehappy.com/"> Atualize ele! </a> ou <a href="http://www.google.com/chromeframe/?redirect=true">instale o Google Chrome Frame</a> para aproveitar a experiencia que esse site tem a oferecer.</p><![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{{ app.name }}</a>
          
          <div class="nav-collapse">
            <ul class="nav">
                {% for link in app.menu %}
                    <li> 
                        <a href="{{ link[1] }}">{{ link[0] }}</a>
                    </li>
                {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div> <!-- /container -->

<script data-main="/static/js/main" src="/static/js/libs/require-jquery.js"></script>

</body>
</html>
