{% extends 'layout.html' %}

{% block content %}
    <section>
        <header>
            <h1>Sinopses</h1>
        </header>

        <hr />

        <article>
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs" id="sinopse-dashboard">
                   <li>
                       <a href="#" data-toggle="tab">Nova sinopse</a>
                   </li>
                   <li>
                       <a href="#" data-toggle="tab">Minhas sinopses</a>
                   </li>
                </ul>

                <div class="tab-content">
                    <form action="/sinopse/new" method="post">
                        <label>
                            Nome: 
                            <input type="text" name="file_name" value="" />

                            <input type="submit" class="btn" value="Criar" />
                        </label>
                    </form>
                </div>

                <div class="tab-content">
                    <h3>Lista - ( {{ sinopse.list|length }} )</h3>

                    <hr />

                    {% if sinopse.list %}
                        <ul>
                            {% for filename in sinopse.list %}
                                <li>
                                    <a href="/sinopses/view/{{ filename }}">
                                        {{filename}}
                                    <a>
                                    -
                                    <a href="/sinopses/edit/{{ filename }}">
                                        Editar
                                    <a>
                                    
                                    <span>|</span>

                                    <a href="/sinopses/remove/{{ filename }}" class="dialog-confirm">
                                        Remover
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% elif not sinopse.list %}
                        <p>Você não tem nenhum item.</p>
                    {% endif %}
                </div>

            </div>
        </article>
    </section>

{% endblock %}
